body
{
    background-image: url("giphy-8.gif");
    background-size: cover;
}

html, body {margin: 0; height: 100%; overflow: hidden}


#paper_bubbles
{
	width: 50%;
}

img /* turn off highlighting (when dragging over elements with cursor) */
{
  user-select: none;
  -moz-user-select: none;
}


@media screen and (max-width: 800px) {
  #paper_bubbles {
  	width: 102%;
  	height: 70%;
  }
}

@media screen and (max-width: 450px) {
	#paper_bubbles {
  		width: 102%;
  		height: 70%;
  	}
}

 @media screen and (max-width: 320px) {
 	#paper_bubbles {
  		width: 101%;
  	}
}