body
{
  margin-top: 1.2%;
	overflow: hidden;
	height: 100vh;
	background-image: url("images/pinkbubbles2.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a { text-decoration: none; }

/* ---ICONS--- */

.icons
{
	display:inline;
	float:none;
	margin-left: 1%;
}

#github { width: 10%;}
#github-invert { width: 0%;}
#bureaucracy_bar:hover #github { width: 0%;}
#bureaucracy_bar:hover #github-invert { width: 10%;}

#resume { width: 7.5%;}
#resume-invert { width: 0%; }
#bureaucracy_bar:hover #resume { width: 0%;}
#bureaucracy_bar:hover #resume-invert { width: 7.5%; }

#house-invert { width: 12%; margin-left: -0.5%; }
#house { width: 0%; }
#bureaucracy_bar:hover #house-invert { width: 0%; margin-left: 0%;}
#bureaucracy_bar:hover #house { width: 12%;  margin-left: 2%;}

#school { width: 13%; margin-left: 2%;}
#school-invert { width: 0%;}
#bureaucracy_bar:hover #school { width: 0%; margin-left: 0%;}
#bureaucracy_bar:hover #school-invert { width: 13%;}

/* ---/ICONS--- */

#bureaucracy_bar
{
	display:inline-block;
	float: right;
	background-color: #FBE7E8;
	width: 50%;
	padding: 1%;
	overflow: hidden;
	border-radius: 5px;
	opacity: 0.8;
	filter: alpha(opacity=80);
  min-width: 20vw;	 
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	margin-right: 2%;
}

#bureaucracy_bar:hover
{
	background-color: black;
	transition: 0.3s;
	transform: scale(1.05);
	opacity: 0.5;
	filter: alpha(opacity=50);
}

#bureaucracy_box
{
	display:inline-block;
	margin-top: 1.5%;
	float: right;
	background-color: #FBE7E8;
	width: 50%;
	padding: 1%;
  padding-bottom: 0.5%;
  padding-top: 0.4%;
	overflow: hidden;
	border-radius: 5px;
	opacity: 0.8;
	filter: alpha(opacity=80);
  min-width: 20vw;	 
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	margin-right: 2%;
  text-align: center;
}

/*#bureaucracy_box:hover
{
	background-color: black;
	transition: 0.3s;
	transform: scale(1.05);
	opacity: 0.5;
	filter: alpha(opacity=50)
}*/

.about-text { font-family: 'Muli', sans-serif; }

/*#bureaucracy_box:hover .about-text { color: white; }
#bureaucracy_box:hover a { color: violet; }*/

#title1{font-family: 'Calistoga', cursive;}
#title2{font-family: 'Calistoga', cursive;}

/*#me:hover
{
	transition: 0.5s;
	transform: scale(0.2);
	filter: blur(8px);
  -webkit-filter: blur(8px);
}*/

#me
{
  width: 40%;
  margin-left: 2%;
	display: inline-block;
	float: left; 
	max-width: 80%; 
	height: auto; width: auto\9;
}

#email-box
{
  display:inline-block;
  float: left;
  background-color: #FBACB3;
  width: 20%;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  min-width: 20vw;   
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2%;
  margin-left: 11.5%;
  text-align: center;
  font-size: 70%
}

#email-box:hover
{
  background-color: black;
  transition: 0.3s;
  transform: scale(1.05);
  opacity: 0.5;
  filter: alpha(opacity=50)
}

#email-box:hover .about-text { color: white; }

@media screen and (max-width: 1346px) {
  body{overflow: auto; height: 100%;}
}

@media screen and (max-width: 900px) {
  #me {float: none; margin-left: 30%; margin-top: 2.5%; margin-bottom: 2%;}
  body{overflow: auto; height: 100%;}
  #bureaucracy_box {width: 95%; margin-right: 1.5%; margin-bottom: 2.5%;}
  #bureaucracy_bar {width: 95%; margin-right: 1.5%; margin-top: 0%;}
  #email-box { width: 80%; margin-bottom: 5%; margin-left: 10%;}
}

/* -------------------------------------- */
/* CREDIT FOR BELOW EFFECT GOES TO Ian Lunn
https://github.com/IanLunn/Hover*/

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}