body
{
	background-image: url("../cybernetic.png");
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

#screen
{
	margin-top: 2%;
	display: inline-block;
	border: 5px double black;
	box-shadow: 5px 10px;
	border-radius: 10px;
	height: 65vh;
	width: 75%;
	background-image: url("space.png");
	z-index: -1;
}

#player
{
	float: right;
	width: 40%;
	margin-right: 5%;
	margin-top: -25%;
	display: inline;
	border: 3px solid white;
	border-radius: 10px;
}

#textbox
{
	text-align: justify;
	padding-left: 1%;
	padding-right: 1%;
	background-color: white;
	width: 55%;
	display: inline-block;
	margin-top: 2%;
	border: 3px solid black;
	border-radius: 10px;
	font-size: 1.15em;
	font-family: "Georgia", serif;
}

.container
{text-align: center;}

.left-container
{text-align: left;}

.btn
{
	font-family: "Georgia";
	background-color: white;
	border: 2px solid black;
	text-align: center;
	border-radius: 10px;
	font-size: 3em;
	padding: 0.5%;
	margin-left: 10%;
	margin-top: 9%;
}

.btn:hover
{
	background-color: #CCCCFF;
	border: 2px solid blue;
	transform: scale(1.05);
	transition: transform 1s;
}

.hide { display: none; }

#instruments
{
	float: left;
	width: 45%;
	margin-left: 5%;
}

i { color: green; }

canvas 
{
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 1150px)
{
	#player{ margin-right: 5%; }
	#screen{height: auto;}
}

@media only screen and (max-width: 1030px)
{
	.btn { margin-left: 3%; margin-right: 0;}
}

@media only screen and (max-width: 920px)
{
	.btn { font-size: 3em; }
	#player { margin-top: -34%; }
	body{ overflow: visible; }
}

@media only screen and (max-width: 650px)
{
	#textbox { padding-left: 3%; padding-right: 3%; width: 75%; margin-top: 5%;}
	#screen { width: 85%; }
}