body
{
	overflow: hidden;
	margin: 0;
	background-image: url("images/skygrid.png");
	pointer-events: none;
}

@media screen and (max-width: 800px)
{
	body {overflow-x: hidden; max-width: 100%; pointer-events: auto}
	canvas {margin-left: -11%; margin-top: -11%; width: 100%;}
}