body
{
	font-family: Georgia, serif;
	margin: 0;
	padding: 0;
	background-color: #cde3f8;
}

img { max-width: 100%; }

a {
	color: #003366;
}

svg { flex-shrink: 0; }

code {
	border-radius: 3px;
	display: inline-block;
}

hr {
	border: none;
	border-top: 3px double #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 5px;
}

hr:after {
	background: #fff;
	content: '§';
	padding: 0 4px;
	position: relative;
	top: -13px;
}

blockquote {
	margin: 0;
}

blockquote {
	padding: 15px;
	background: #eee;
	border-radius: 5px;
}

blockquote::before {
	content: '\201C';
}

blockquote::after {
	content: '\201D';
}

.inline-code {
	background-color: #eee;
	font-family: courier, monospace;
	border-radius: 3px;
	padding: 0 3px;
}

button {
	background: #000;
	color: #fff;
	border: 0;
	font-size: 0.85rem;
	border-radius: 0.25rem;
	cursor: pointer;
	margin: 0.1%;
}

.center {
	text-align: center;
}

#blog {
	background-color:#DDD;
	width: 100%;
	max-width: 54.625em;
	margin: 1.5em auto;
	padding: 5px;
}

#header {
	background-color: #f9f9f9;
	border-top: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;

	margin: 0px auto;
	padding-top: 1.5em;
	padding-bottom: 0.5em;
	padding-left: 2.2em;
	padding-right: 1.5em;
}

#content {
	border: solid 1px #ccc;
	background-color: #fff;
	padding-top: 1em;
	padding-left: 3em;
	padding-right: 3em;
}

#tit {
	font-size: 3em;
	margin: 0;
	margin-bottom: 0.3em;
}

#desc {
	margin: 0;
	font-size: large;
	margin-bottom: 0.8em;
}

#foot {
	margin-top: 2em;
	text-align:center;
	cursor: pointer;
}

#footer {
	padding-top: 10px;
	padding-bottom: 1em;	
	border-top: solid 1px #666;
	color: #333333;
	text-align: center;
	font-size: small;
	font-family: "Courier New", "Courier", monospace;
	background: url("https://what-if.xkcd.com/imgs/graph-tile.png");
	margin-left: -6.2%;
	margin-right: -6.2%;
}

#wallrug {
	width: 100%;
	margin-left: auto;
}

#posts {
	margin-top: -1%;
}

.post {
	display: block;
	font-size: 1.15em;
	color: black;
	border-bottom: 2px solid black;
	padding: 1%;
	text-decoration: none;
}

.post:hover {
	background-color: lightgray;
}

.subtitle {
	font-size : small;
	margin-top: 1px;
}

.year {
	background: #000;
	color: #fff;
	border: 0;
	border-radius: 0.25rem;
	display: inline-block;
	padding: 0.5%;
	margin-bottom: 1%;
	font-weight: normal;
}

.collapsible {
	background-color: lightgray;
	padding: 0.5% 2% 0.5% 2%;
	border-radius: 10px;
	height: 3em;
	overflow-y: hidden;
	box-shadow: 5px 5px black;
}
.collapsible:hover {
	background-color: darkgray;
	transition: 0.3s;
}
.collapsible-title {
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
.collapsible-title:before {
	content: '+';
	background-color: black;
	color: white;
	font-family: monospace;
	border: 1px solid gray;
	padding: 0% 1% 0% 1%;
	border-radius: 30%;
	margin-right: 1%;
}

.pdf::before {
	content: " ";
	background: url("../img/paper.gif");
	width: 20px; height: 15px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
	body {
		width: 99%; 
		overflow-x: hidden; 
		margin: 0;
	}

	#tit    { font-size: 2.5em;  }
	#footer { line-height: 150%; }
	.post   { font-size: small;  }
	.year   { font-size: small;  }

	.pdf::before {
		width: 11px; height: 10px;
		background-size: 11px 10px;
		vertical-align: unset;
		margin-right: 3px;
	}
}

@media screen and (max-width: 1000px) {
	#footer {
		background: none;
		margin-left: 0;
		margin-right: 0;
	}
}